/* GENERAL */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn, input, select {
  box-shadow: none !important;
}

/* vertical row right */
.vrr {
  border-right: 1px solid rgba(0,0,0,.1);
}

/* HOME / SIGN IN */

#home-form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

#home-input-email {
  font-size: large;
  margin-top: 30px;
  margin-bottom: 1rem;
}

#home-input-password {
  font-size: large;
}

/* SIGN UP */

.form-group-signup {
  margin-bottom: 1rem !important;
}

#signup-form-signup {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}

.signup-form-inline {
  width: 100%;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.signup-group-input-left {
  width: 45%;
  margin-right: 5%;
}

.signup-group-input-left > label {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 4%;
}

.signup-group-input-left > input {
  font-size: large;
}

.signup-group-input-right {
  width: 45%;
  margin-left: 5%;
}

.signup-group-input-right > label {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 4%;
}

.signup-group-input-right > input {
  font-size: large;
}

/* CALENDAR */

.center-title{
  line-height: 1.5 !important ;
}

#calendar-table-border {
  border: none;
  margin-top: 50px;
}

thead {
  text-align: center;
}