<header>
    <nav class="navbar navbar-expand-lg navbar-light p-3 bg-light border-bottom shadow-sm sticky-top">
        <a class="navbar-brand" href="/">Cactus Calendar</a>
        <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
        </div>
        <a name="Se connecter" id="btn-signin" class="btn" href="#" role="button">Se connecter</a>
        <a name="S'inscrire" id="btn-signup" class="btn btn-outline-info" href="#" role="button">S'inscrire</a>
    </nav>
</header>