<header>
    <nav class="navbar navbar-expand-lg navbar-light p-3 bg-light border-bottom shadow-sm sticky-top">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Cactus Calendar
        </a>
        {{!-- <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
        </div>
        <a name="Se connecter" id="header-btn-signin" class="btn" href="/" role="button">Se connecter</a>
        <a name="S'inscrire" id="header-btn-signup" class="btn btn-outline-success" href="/signup" role="button">S'inscrire</a> --}}
    </nav>
</header>