<div class="container mt-5">
    <div class="row">
        <div class="col-1">
            <button type="button" class="btn btn-light w-10">
                <img src="/images/icons/arrow_left.svg" alt="Mois précédent" height="48px" width="48px">
            </button>
        </div>
        <div class="col-10 text-center">
            <label class="h1 center-title">JANVIER 2019</label>    
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-light m-auto">
                <img src="/images/icons/arrow_right.svg" alt="Mois précédent" height="48px" width="48px">
            </button>  
        </div>    
    </div>
</div>
<table id="calendar-table-border" class="table table-bordered table-hover container">
    <thead class="center">
        <tr class="row">
            <th scope="col" class="col">Lundi</th>
            <th scope="col" class="col">Mardi</th>
            <th scope="col" class="col">Mercredi</th>
            <th scope="col" class="col">Jeudi</th>
            <th scope="col" class="col">Vendredi</th>
            <th scope="col" class="col">Samedi</th>
            <th scope="col" class="col">Dimanche</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            <td class="col">1</td>
            <td class="col">2</td>
            <td class="col">3</td>
            <td class="col">4</td>
            <td class="col">5</td>
            <td class="col">6</td>
            <td class="col">7</td>
        </tr>
        <tr class="row">
            <td class="col">1</td>
            <td class="col">2</td>
            <td class="col">3</td>
            <td class="col">4</td>
            <td class="col">5</td>
            <td class="col">6</td>
            <td class="col">7</td>
        </tr>
        <tr class="row">
            <td class="col">1</td>
            <td class="col">2</td>
            <td class="col">3</td>
            <td class="col">4</td>
            <td class="col">5</td>
            <td class="col">6</td>
            <td class="col">7</td>
        </tr>
        <tr class="row">
            <td class="col">1</td>
            <td class="col">2</td>
            <td class="col">3</td>
            <td class="col">4</td>
            <td class="col">5</td>
            <td class="col">6</td>
            <td class="col">7</td>
        </tr>
        <tr class="row">
            <td class="col">1</td>
            <td class="col">2</td>
            <td class="col">3</td>
            <td class="col">4</td>
            <td class="col">5</td>
            <td class="col">6</td>
            <td class="col">7</td>
        </tr>
    </tbody>
</table>