<form id="home-form-signin" class="text-center mt-5" method="POST" action="">
  <img class="mb-4" src="/images/logo.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Content de vous revoir<br class="mb-1">parmis nous !</h1>
  {{> messages}}
  <label for="home-input-email" class="sr-only">Adresse email</label>
  <input type="email" name="email" id="home-input-email" class="form-control" placeholder="Adresse mail" required autofocus>
  <label for="home-input-password" class="sr-only">Mot de passe</label>
  <input type="password" name="password" id="home-input-password" class="form-control text-lg" placeholder="Mot de passe" required>
  <hr>
  <a name="S'inscrire" id="signup" class="btn btn-lg" href="/signup" role="button">S'inscrire</a>
  <button type="submit" id="home-btn-signin" class="btn btn-success btn-lg">Se connecter</button>
</form>
